@charset "UTF-8";

$color: #673ab7 #fff #000 #FF6F00 #EF6C00 #e65100 #FFCC80 #ddd #999 #2962FF #DD2C00;
$size: 50% 60% 75% 100%;
$px: 0px 1px 2px 3px 4px 5px 6px 10px 12px 14px 15px 16px 20px 25px 30px 40px 42px 50px 80px 120px;
$border: top;
$borderTopSet: 1px solid #673ab7;
$borderBottomSet:1px solid #999;
$border: 1px solid #ff6f00;
$borderOne: 1px solid #999;
$weight: 900;

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.col-md-12 {
  margin: nth($px,5) nth($px,1);
}

#change {
  border: $borderTopSet;
  color: nth($color,2);
  padding: nth($px,12) nth($px,1);

  a {
    text-decoration: none;
    display: inline-block;
    color: nth($color,1);
    padding: nth($px,3) nth($px,7);
    font-weight: $weight;
    margin: nth($px,1) nth($px,5);
  }

  a:hover {
    color: nth($color,2);
    background: nth($color,1);
    font-weight: $weight;
  }

  .active a {
    color: nth($color,2);
    background: nth($color,1);
    font-weight: $weight;
  }
}

#chang {
  color: nth($color,3);
  font-size: nth($px,11);
  font-weight: $weight;
  margin-right: nth($px,8);
  margin: nth($px,5);
}

#change-s {
  padding: nth($px,1) nth($px,14);
}

#left {
  padding: nth($px, 1) nth($px, 14)
}

#xian {
  border-bottom: $borderBottomSet;
  padding-bottom: nth($px,8);
}

#title {
  margin-top: nth($px,8);
}

#read {
  font-size: nth($px,9);
  padding: nth($px,6) nth($px,1);
  text-align: center;

  p {
    margin-bottom: nth($px,1);
    text-align: center;
    margin-top: nth($px,5);
  }
}

#time {
  font-size: nth($px,9);
  padding: nth($px,4) nth($px,1);
  padding-top: nth($px,6);
  text-align: center;
  p {
    margin-bottom: nth($px,1);
    text-align: center;
    margin-top: nth($px,5);
  }
}

#mon {
  font-size: nth($px,9);
  padding: nth($px,4) nth($px,1);
  padding-top: nth($px,6);
  text-align: center;
  p {
    margin-bottom: nth($px,1);
    text-align: center;
    margin-top: nth($px,5);
  }
}

#money {
  padding: nth($px,1);

  #tit {
    padding: nth($px,1) nth($px,8);
    color: nth($color,3);
    font-weight: $weight;
    padding-left: nth($px,12);
  }

  a {
    color: nth($color,1);
    font-size: nth($px,9);
  }

  .tub {
    i {
      display: inline-block;
      width: nth($px,18);
      text-align: center;
      border: $border;
      color: nth($color,4);
      padding: nth($px,1) nth($px,3);
      font-size: nth($px,9);
    }
  }
}

#ans {
  width: nth($size,3);
  height: nth($size,4);
  padding-left: nth($px,16);
  overflow: hidden;
  a {
    font-size: nth($px,10);
    height: nth($size,4);
  }
  span {
    a {
      color: nth($color,5);
      font-size: nth($px,12);
    }
  }
  i {
    a {
      color: nth($color,6);
      background: nth($color,7);
      font-size: nth($px,9);
      padding: nth($px,3) nth($px,5);
    }
  }
}
.btn {
  #spa {
      padding: nth($px,1) nth($px,19);
      font-weight: $weight;
      font-size: nth($px,13);
  }
}

.l-t {
  width: nth($size,4);
  border: $borderTopSet;
  margin-bottom: nth($px,15);
  ol {
    margin-top: nth($px,7);
  }
}

.l-xs {
  height: nth($px,17);
  background: nth($color,1);
  padding: nth($px,8) nth($px, 11);
  color: nth($color, 2);
  font-weight: $weight;
}

ol {
  li {
    margin-bottom: nth($px,8);
    font-weight: $weight;
    a {
      display: inline-block;
      width: nth($size,2);
      overflow: hidden;
      color: nth($color,1);
      font-weight: $weight;
      margin-left: nth($px,8);
    }
    a:hover {
      color: purple;
      font-weight: $weight;
    }
    span {
      margin-right: nth($px,13);
      float: right;
    }
    img {
      width: nth($px,14);
      height: nth($px,14);
      border-radius: nth($size,1);
      margin-left: nth($px,8);
    }
  }
}

.l-w {
  height: nth($px,20);
  padding: nth($px,11);
  background: nth($color,8);
  border: $borderOne;
  margin-bottom: nth($px,15);
  p {
    font-weight: $weight;
    i {
      color: nth($color,10);
    }
  }
}

.l-l {
  height: nth($size,4);
  h4 {
    color: nth($color,11);
  }
  ol {
    margin-bottom: nth($px,14);
  }
}
