

  <div id="footer" style="background-color: #6200EA;">
  <hr>
  <div class="container">
          <div class="row footer-top">
            <ul class="list-inline text-center">
              <li><p style="color: #eee;">本网站本着自由言论共同分享不涉及黑色交易的目标为大家合理的提供方便服务，并全部遵循 <a href="https://creativecommons.org/licenses/by/3.0/cn/" target="_blank">CC BY 3.0</a>协议发布。</p></li>
            </ul>
          </div>
          <div class="row footer-bottom">
            <ul class="list-inline text-center">
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
