<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>发布问题</title>
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/jindingwen/quill.core.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/jindingwen/quill.snow.css" media="screen" title="no title" charset="utf-8">
  <style media="screen">
    .ql-editor{
      min-height: 300px;
    }
    #publish{
      margin-top:50px;
      margin-bottom:50px;
    }
  </style>
</head>
<body>
  <% include head %>
  <div class="container-fluid" id="publish"></div>
  <% include foot %>
  <script type="text/javascript" src="/js/vendor.js"></script>
  <script type="text/javascript" src="/js/publish.js"></script>
</body>
</html>
