<!DOCTYPE html>
<html>

<head>
  <title>React</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="http://cdn.bootcss.com/react-bootstrap/0.31.0/react-bootstrap.min.js"></script>
  <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/socket.io/1.7.3/socket.io.min.js"></script>
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script type="text/javascript">
    var socket = io();
  </script>
  <style>
    #resetPasswd{
      margin-top: 100px;
      margin-bottom: 400px;
    }
  </style>
</head>

<body>
      <% include head %>
      <div class="container" id="resetPasswd"></div>
      <% include foot %>
      <script type="text/javascript" src="/js/resetPasswd.js"></script>
</body>

</html>
