.question-main {
  width: 70%;
  float: left;
}

.question-title {
  padding-left: 100px;
  padding-right: 200px;
}

.question-body {
  width: 100%;
}

.question-question {
  width: 28%;
  border: 1px solid lightgrey;
  float: right;
  height: 900px;
}

.question-btn {
  float: right;
}

.question-img {
  border-bottom: 1px solid lightgrey;
  display: inline-block;
  float: left;
  padding-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.question-answer {
  width: 1000px;

}

.question-btn1 {
  float: right;
}

.question-left {
  background-color: #f6f6f6;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

.question-left-width {
  width: 100%;
}

.question-content {
  margin-left: 40px;
}

.question-font {
  font-size: 18px;
  margin-left: 5px;
}

.question-font1 {
  font-size: 18px;
  margin-left: 15px;
}

.question-input {
  width: 103.6%;
}

.question-image {
  width: 22px;
}

.question-author {
  padding-left: 5px;
  font-size: 18px;
}

.question-type {
  display: inline-block;
  margin-left: 10px;
  border: 1px solid lightgrey;
}
