.question-main {
  margin: auto;
}

.question-title {
  padding-left: 100px;
  padding-right: 200px;
}

.question-img {
  display: inline-block;
  float: left;
  padding-top: 30px;
  width: 80%;
}

.question-answer {
  width: 1000px;

}

.question-btn {
  float: right;
}

.question-btn1 {
  float: right;
  /*margin-top: 200px;*/
}

.question-allbtn {
  float: right;
}

.question-left {
  background-color: #f6f6f6;
  float: left;
  width: 100%;
}

.question-left-width {
  width: 90%;
}

.question-content {
  margin-left: 40px;
}
